@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  font-family: Lato, sans-serif;
}

.display-card {
  background-color: orange;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.display-card:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
  border: 3px solid orange;
  padding-left: 10px;
  padding-right: 10px;
  transition: 800ms;
}
